{% load static %}
<nav id="mynav" class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'car:index' %}">RentCar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'car:index'%}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'car:list' 'all' 1%}">Sewa</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'car:list' user.id 1%}">My car</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'car:create'%}">create sewa</a>
            </li>
            {% endif %}
        </ul>
        <form class="no-border form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'auth:logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'auth:login'%}">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'auth:register'%}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>