{% load static %}
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'vendor/js/core/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/core/popper.min.js' %}"></script>
<script src="{% static 'vendor/js/core/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'vendor/js/plugins/moment.min.js' %}"></script>
<script src="{% static 'vendor/js/plugins/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'vendor/js/plugins/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/js/material-kit.js' %}"></script>
<script src="{% static 'js/fileinput.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
    $('.datetimepicker').datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>