{% extends 'base.html' %}
{% block title %}
Car | Detail
{% endblock title %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
                <h1>{{judul}}</h1>
                <h3 class="title text-center">{{penjelasan}}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md" style="background:url('{{object.gambar.url}}');background-size:cover;">
    </div>
    <div class="col-lg-8 col-md">
        <div class="container">
            <div class="row">
                <h1>{{object.title}}</h1>
            </div>
            <div class="row">
                <h1>{{object.harga_sewa_hari}}</h1>
            </div>
            <div class="row">
                <h1>{{object.lokasi}}</h1>
            </div>
            <div class="row">
                <p>{{object.deskripsi}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}