{% extends 'base.html' %}
{% load static %}

{% block header %}
<h1 class="display-4 text-center text-white">{{judul}}</h1>
<p class="lead text-center text-white">Ini adalah penjelasan deskripsi rentcar</p>
{% endblock header %}

{% block content-1 %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section_title text-center">
                <h3>List Car</h3>
            </div>
        </div>
    </div>
    <div class="row pt-4 pb-4">

    </div>
</div>
{% endblock content-1 %}