{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto mt-5 pt-5">
            <div class="card card-login">
                <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <div style="font-family:montserrat;" class="card-header card-header-warning text-center">
                        <h4 class="card-title">Login</h4>
                    </div>
                    {% if valid %}
                    <div class="alert alert-danger text-center" style="width=100%;">{{valid}}</div>
                    {% endif %}
                    <div class="card-body pt-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user-circle"></i>
                                </span>
                            </div>
                            <input name="email" id="email" type="text" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </span>
                            </div>
                            <input name="password" type="password" id="password" class="form-control"
                                placeholder="Password" required>
                        </div>
                    </div>
                    <div class="footer text-center pt-3">
                        <button type="submit" name="login" class="btn btn-warning">Login</button>
                    </div>
                    <div class="create-ac text-center">
                        <p>Didn't have any account? <a href="{% url 'auth:register' %}">Click Here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% comment %} <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div> {% endcomment %}
{% endblock header %}