{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page}}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg">
            <form method="POST" action="">
                {% csrf_token %}
                {% for forms in form %}
                <div class="form-group">
                    {{forms.label}}
                    {{forms}}
                </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}