.bg-darks {
    background-color: rgb(17, 15, 15) !important;
    box-shadow: 0px 0px 10px black,
        0px 0px 15px black,
        0px 0px 20px black inset;
}

nav .btn {
    color: #555;
    box-shadow: none;
    transition: .7s;
    font-size: 16px;
}

nav .btn:hover {
    color: white;
    box-shadow: 0 2px 2px 0 rgba(36, 34, 34, 0.3),
        0 3px 1px -2px rgba(36, 34, 34, 0.5),
        0 1px 5px 0 rgba(36, 34, 34, 0.7) inset;
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(to top, rgb(66, 63, 63) 2px, rgba(156, 39, 176, 0) 2px),
        linear-gradient(to top, rgb(114, 102, 102) 1px, rgba(210, 210, 210, 0) 1px);
}

.nav-link:hover,
.navbar-brand:hover {
    color: white !important;
}

.nav-link,
.navbar-brand {
    transition: .7s;
}

.navbar.navbar-transparent {
    color: #555;
}

.dropdown-menu {
    top: 100%;
    left: -150%;
    background-color: rgb(17, 16, 16);
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
    background-color: rgb(61, 55, 55);
    box-shadow: none;
}

.modal-dialog .modal-header {
    background-color: rgb(17, 15, 15) !important;
    color: rgb(104, 102, 102);
    padding: 20px;
    box-sizing: border-box;
    font-weight: 700;

}

.dropdown-menu .dropdown-item,
.dropdown-menu li>a {
    transition: .5s;
    color: white;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #555;
}

.card {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card .card-header-warning,
.card.bg-warning,
.card.card-rotate.bg-warning .front,
.card.card-rotate.bg-warning .back {
    background: rgb(102, 86, 88);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2),
        0 13px 24px -11px rgba(0, 0, 0, 0.6);
}

.btn.btn-warning {
    border: none;
    color: rgb(104, 102, 102);
    background-color: rgb(17, 15, 15) !important;
    transition: .7s;
}

.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:hover {
    color: rgb(17, 15, 15);
    background-color: rgb(104, 102, 102);
}

.btn-warning:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background: rgb(104, 102, 102);
    transform: scaleX(0);
    transition: .5s;
    transform-origin: left;
    border-radius: 3px 0px 0px 3px;
}

.btn-warning:hover:before {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-warning:after {
    content: '';
    border-radius: 0px 3px 3px 0px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background: rgb(104, 102, 102);
    transform: scaleX(0);
    transition: .5s;
    transform-origin: right;
}

.btn-warning:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

a {
    color: rgb(36, 36, 36);
}

a:hover {
    color: rgb(98, 98, 98);
}

.page-link {
    background-color: rgb(17, 15, 15);
    transition: .5s;
    color: rgb(98, 98, 98);
}

.page-link:hover {
    background-color: rgb(98, 98, 98);
    color: rgb(17, 15, 15);
}

.header-filter {
    background-size: cover;
}

#mybody {
    position: relative;
}

footer {
    box-sizing: border-box;
    position: relative;
    background-color: rgb(17, 15, 15) !important;
    box-shadow: 0px 0px 10px black,
        0px 0px 15px black,
        0px 0px 20px black inset;
}

.custom-file-input.is-valid~.custom-file-label,
.was-validated .custom-file-input:valid~.custom-file-label {
    border-color: #28a745
}

.custom-file-input.is-valid~.custom-file-label::before,
.was-validated .custom-file-input:valid~.custom-file-label::before {
    border-color: inherit
}

.custom-file-input.is-valid~.valid-feedback,
.custom-file-input.is-valid~.valid-tooltip,
.was-validated .custom-file-input:valid~.valid-feedback,
.was-validated .custom-file-input:valid~.valid-tooltip {
    display: block
}

.custom-file-input.is-valid:focus~.custom-file-label,
.was-validated .custom-file-input:valid:focus~.custom-file-label {
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25)
}

.input-group>.custom-file:focus {
    z-index: 3
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}

input[type="file"i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-align: start !important;
    padding: initial;
    border: initial;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0
}

.custom-file-input:focus~.custom-file-control {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    border-bottom: 1px solid rgb(102, 86, 88);
    border-radius: .25rem
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #a1a1a1;
    content: "Browse";
    background-color: rgb(102, 86, 88);
    border-left: 1px solid rgb(102, 86, 88);
    border-radius: 0 .25rem .25rem 0
}

.card-login .form {
    min-height: 320px;
}