.jumbotron {
    background-image: url("/static/img/mobil.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.no-border {
    background: transparent;
    border-bottom: 2px solid orange;
}