{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'snippet/style.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{title}}</title>
</head>

<body>
    {% comment %} navbar {% endcomment %}
    {% include 'snippet/navbar.html' %}
    {% comment %} end of navbar {% endcomment %}

    {% comment %} content {% endcomment %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% block header %}
            {% endblock header %}
        </div>
    </div>
    <div id="mybody" class="bg-white text-dark">
        {% block content %}

        {% endblock content %}
    </div>
    {% comment %} end of content {% endcomment %}

    {% comment %} footer {% endcomment %}
    <footer style="background-color: black;
        box-shadow: 0px 0px 5px rgb(34, 31, 31),
        0px 0px 10px rgb(34, 31, 31),
        0px 0px 15px rgb(34, 31, 31) inset;">
        <div class="container pt-3">
            <div class="row">
                <div class="col-md-4">
                    <h2>RentCar</h2>
                </div>
                <div class="col-md-4">
                    <ul class="nav">
                        {% for link, nama in nav %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{link}}">{{nama}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>About Us : </h2>
                </div>
            </div>
        </div>
    </footer>
    {% comment %} end of footer {% endcomment %}

    {% include 'snippet/script.html' %}
</body>

</html>